<!DOCTYPE html>
<html>
<head>

  <title>Matthew Flynn's Music</title>
  <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}" type=text/css>

</head>
<body>

  <!-- the Navigation Bar -->
  <div id="nav_bar">
    <ul>
      <li><a href="home.html" class="clear_fix">Home</a></li>
      <li><a href="music.html" class="clear_fix active">Music</a></li>
      <li><a href="bio.html" class="clear_fix">Bio</a></li>
    </ul>
    <img src="{{ url_for('static', filename='vgm_note.png')}}" id="note" oncontextmenu="return false">
  </div>

  <h1>Music</h1>

  {% for project in projects %}

    <div class=project>
      <h1>{{ project.name }}</h1>

        {% for track in tracks %}
          {% if track.project_id == project.id %}
            <div class=track>
              <h2>{{ track.name }}</h2>
              <audio controls oncontextmenu="return false">
                <source src="{{ url_for('static', filename='static/' + track.path) }}">
                Your browser does not support audio playback
              </audio>
            </div>
          {% endif %}
        {% endfor %}

      </h1>
    </div>

  {% endfor %}


</body>
</html>
