<!DOCTYPE html>
<html>
<head>

  <title>Matthew Flynn's Music</title>
  <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}" type=text/css>

</head>
<body>

  <!-- the Navigation Bar -->
  <div id="nav_bar">
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="music.html" class="active">Music</a></li>
      <li><a href="bio.html">Bio</a></li>
      <li><a href="gallery.html">Gallery</a></li>
    </ul>
    <img src="{{ url_for('static', filename='vgm_note.png')}}" id="note" oncontextmenu="return false">
  </div>

  <h1>Music</h1>

  <!-- loop through all the projects and display them -->
  {% for project in projects %}

    <div class=project>
      <div class=proj_head>
        <h1>{{ project.genre }}: {{ project.name }}</h1>
        <p>{{ project.desc }}</p>
        <p>{{ project.title }}</p>
        {% if project.commisioner != None %}
          <p>Commisioner: {{ project.commisioner }}</p>
        {% endif %}
      </div>

      {% set tracks = all_tracks[project.id - 1] %}

      <!-- the project is displayed differently if there's only 1 track -->
      {% if tracks|length == 1 %}
        <div class=track>
          <!-- display any files: MP3s, PDFs, etc. -->
          {% if tracks[0].playback %}
            <div class=audio>
              <p>{{ project.audio_text }}</p>
              <audio controls oncontextmenu='return false'>
                <source src="{{ url_for('static', filename = tracks[0].path + '.mp3') }}">
                Your browser does not support audio playback
              </audio>
            </div>
          {% endif %}
          {% if tracks[0].pdf %}
            <a href="{{ url_for('static', filename = tracks[0].path + '.pdf') }}" download>
              sheet music download
            </a>
          {% endif %}
        </div>

      <!-- when there's more than 1 track in the project -->
      {% else %}
        {% for track in tracks %}
          <div class=track>
            <h2>{{ track.name }}</h2>
            <!-- display any files: MP3s, PDFs, etc. -->
            {% if track.playback %}
              <audio controls oncontextmenu='return false'>
                <source src="{{ url_for('static', filename = track.path + '.mp3') }}">
                Your browser does not support audio playback
              </audio>
            {% endif %}
            {% if track.pdf %}
              <a href="{{ url_for('static', filename = track.path + '.pdf') }}" download>
                sheet music download
              </a>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}

    </div>

  {% endfor %}


</body>
</html>
