/* Style for the whole page */
html {
  font: Georgia Serif;
}

body {
  margin: 0px;
  /* temporary background color, until I take a pic of me at the piano */
  background-color: rgb(232, 212, 186);
}

/* Style defenitions for the navigation bar */
  /* Navigation Bar RGB Ratio: 3:2:4 */

div#nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(48, 32, 64);
  position: fixed;
  top: 0;
  width: 100%;
}

div#nav_bar ul li {
  float: left;
}

div#nav_bar img#note {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 43px;
  width: 43px;
  padding: 4px 3px 3px 3px;
  background-color: rgb(96, 64, 128);
}

div#nav_bar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
}

div#nav_bar ul li a:hover{
  background-color: rgb(32, 24, 48);
}

/* This is the page the user is currently on */
div#nav_bar ul li a.active{
  background-color: rgb(96, 64, 128);
  pointer-events: none;
  cursor: pointer;
}

/* Style Defenitions for the projects */

div.proj_head {
  margin-top: 31px;
  margin-bottom: 31px;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  color: white;
  background: linear-gradient(to right, rgba(96,64,128,0), rgba(96,64,128,1),
  rgba(96,64,129,0));
}

div.proj_head h1 {
  margin: 10px;
}

div.proj_head p, h1 {
  margin-top: 6px;
  margin-left: 30%;
  margin-right: 30%;
}

button.details {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: Georgia Serif !important;
  font-size: 15px !important;
  color: white;
  border: none;
  outline: none;
  padding: 0px;
}

button.details:hover {
  color: rgb(231, 223, 255);
}

div.details_panel {
  display: none;
}

/* Style Defenitions for individual tracks */

div.track {
  background-color: black;
  border-radius: 8px;
  margin-top: 31px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 31px;
  padding-top: 31px;
  padding-left: 31px;
  padding-right: auto;
  padding-bottom: 31px;
}

div.track div.audio {
  margin-top: 8px;
  margin-bottom: 8px;
}

div.track div.audio p {
  color: white;
  margin: 0px;
}

div.track a {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

div.track a:hover {
  color: rgb(231, 223, 255);
}

div.track h2 {
  margin-top: 0px;
  margin-bottom: 8px;
  color: white;
}
